<h1>parent</h1>


<div class="container2">
    <table>
        <thead>
          <tr>
                <td>Admins</td>
                <button (click)="DelectAdmin()">REMOVE</button>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of adminList; index as i">
                <td >{{admin}}</td>
                <button (click)="deleteItems(i)">Remove item</button>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>


<app-child (addadmin)="onAddAdmin($event)" [placeholderText]=" 'Create Admin' " ></app-child>